# pics
*.jpg
*.png
*.jpeg

# xml
*.xml

# videos
*.mp4
*.wmv
*.mkv

# audios
*.mp3
*.acc

# files
*.rar
*.zip
*.pyc
*.txt
*.iml
*.pdf
*.dat
*.json
*.ogg
*.html
*.out
*.caj
*.whl
*.exe

# models
*.pb
*.pth
*.weights
*.h5

# fonts
*.TTC

# frontend
static
templates

# others
*.cc
*.h
*.dll
