# pics
*.jpg
*.png
*.jpeg
*.tif

# videos
*.mp4
*.wmv
*.mkv

# audios
*.mp3
*.acc
*.wav

# files
*.rar
*.zip
*.pyc
*.iml
*.pdf
*.dat
*.json
*.ogg
*.html
*.out
*.caj
*.whl
*.exe
*.scp
# conf
*.conf
*.xml
*.log
*.txt
*.ipynb

# models
*.pb
*.pth
*.weights
*.h5

# fonts
*.TTC

# frontend
static
templates
build
fc_base
.idea

# others
*.cc
*.h
*.dll

